<%= simple_form_for @pic do |f| %>
  <% if @pic.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@pic.errors.count, "error") %>prevented this Pic from saving
      </h2>
      <ul>
        <% @pic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :title, class: 'form-control' %>
    <%= f.input :description, class: 'form-control'%>
    <%= f.button :submit, class: 'btn btn-info' %>
<% end %>